
{% extends 'ngo/germany.html' %}
{% block body %}
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/editor.css">
    <script src="http://127.0.0.1:8000/static/js/edit.js"></script>

    <div dir="rtl">
    <h2 style="color: blue">درباره انجمن</h2>
        {% autoescape off %}
            {% if  not user.is_authenticated %}
                {{ text }}
                {% else %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="ثبت">
                    </form>
            {% endif %}
        {% endautoescape %}
    </div>
    <script>
        $('#summernote').text('{{ text }}');
    </script>
{% endblock %}