#news_image{
    float: right;
    height: 100%;
    padding-left: 10px;
    width: 160px;
    
}
a{
    text-decoration: none;
}
#table{
    float: right;
}
#line{
    width: 100%;
}
#news{
    height: 120px;
}
#relative{
    margin-top: 26px;
}
#container{
    width: 980px;
}
.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.dropdown-menu >li > a{
    float: right;
    width: 100%;
}

.dropdown-menu >li > a >div{
    float: right;
}