<head>
    <title>{% block page_title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="simple-sidebar.css">
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/sliderCSS.css">
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/main.css">
    <link href="http://127.0.0.1:8000/static/css/summernote.css" rel="stylesheet">
    <script src="http://127.0.0.1:8000/static/js/summernote.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <title>
        سایت خبری
    </title>
</head>
