{% extends 'base.html' %}
{% block nav_body %}
    {% include 'components/admin_navbarList.html' %}
{% endblock %}
{% block body %}
    <table border="0" class="col-md-8" id="table">
            <thead>
                <tr>
                    <th>
                        <div align="right"> اخبار</div>
                        <img id="line" style="" src="static/img/liine3.jpg" alt="">
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for news in r_news %}
                    {% include 'components/r_news.html' %}
                {% endfor %}
            </tbody>
        </table>
{% endblock %}