 <table border="0" class="col-md-8" id="table">
            <thead>
                <tr>
                    <th>
                        <div align="right"> اخبار</div>
                        <img id="line" style="" src="static/img/liine3.jpg" alt="">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td dir="rtl">
                        <a id='news' href="#" class="thumbnail" style="text-decoration: none">
                            <img id ="news_image" src="static/img/baaar.jpg">
                            <h4>article1</h4>
                            <div style="color: #000000;" >
                                hello
                            </div>
                        </a>
                    </td>

                </tr>
                <tr>
                    <td dir="rtl">
                        <a id='news' href="#" class="thumbnail" style="text-decoration: none">
                            <img id ="news_image" src="static/img/baaar.jpg">
                            <h4>article1</h4>
                            <div style="color: #000000;" >
                                hello
                            </div>
                        </a>
                    </td>

                </tr>
            </tbody>
        </table>
        <div class="col-md-4">
            <div class="panel panel-primary" id="relative">
                <div class="panel-heading">لینک های مرتبط</div>
            </div>
        </div>
